
    /* ABOUT CONTENT
    ================================================================================================================== */
    
    .about-content{
        display:flex;
        flex-direction: row;
       
        }

    .about-content .left {
      flex-basis: 50%;
      text-align: right;
    }
    .about-content .right {
        flex-basis:50% ;
        margin-left:150px;
        text-align: left;
        
    }
    
    @media (max-width:900px) {
        .about-content{
            flex-direction: column;
        }
         .about-content {
                padding-right: 0;
        }
        .about-content .right ,.about-content .left {
            margin-left:0;
            width: 100%;
        }
      
        

    }
   
    @media (min-width:1000px) {
        
        
      
    .about-content::after {
        content: "";
        
        position: absolute;
        width: 5px;
        height: 1030px;
        top: 50px;
        left: 40%;
        display: block;
        margin-top:470px;
        border-style: dotted;
        color:#3ae374; /*  border-left: 2px dotted #3ae374 ; */
        border-left: none;
        border-top: none;
        border-bottom: none;
     }
    }
   
  
    
    .about-title {
        margin-bottom:30px;
    }